interaction_motifs.xlsx
Interaction_motifs_bootstrap.html
boostrap_mart.csv
boostrap_marti_matas.csv
boostrap_matas.csv
bs_marti_matas.csv
~$Marti_matas.xlsx
bs_mart_matas_mut_deer.csv
im_fruits_fenol.csv
aim_glm4_resultados.xlsx
im_visits_fenol.csv
